.logo {
  margin:auto;
  text-align:center ;
  background-image: url("../assets/backgrounds/landing.jpg")

}
.logo >p{
  font-size: 30px;
  color: white ;
  font-family: 'Emilys Candy' ;
}

.image1 img {
  float: left;
}
.image2 img {
  float: right;
}
.test-box {
   border: 20px ;
}
.image2 {
padding: 30px;
  border: 30px;
  margin: 20px;

}
.image1 {
  padding:30px;
  border: 30px;
  margin: 20px;
}
